<header class="header-container">
  <div class="profile-header-container">
    <div class="profile-header">
      <a href="/index.html"><h1 class="profile-header-title">The Intro</h1></a>
      <h2 class="profile-header-name">{{ page.firstName }} {{ page.lastName }}</h2>
    </div>
  </div>
</header>



<!--
<div class="site-header">
  <img class="mobile-header" src="/assets/images/headers/tyler_palef.jpg" alt="header profile picture">
  <div class="header-text">
    <h1 class="title to-fade-up">The Intro</h1>
    <hr class="header-line-break to-fade-up">
    <h2 class="sub-title to-fade-up"> An introduction to introspectives</h2>
  </div>
</div> -->
