.about_wrapper {
  margin: 3em auto;
  p, h1, h3 {
    color: $darkest;
  }
  h2 {
    color: $dark;
    padding: 0px 30px 30px 30px;
  }
  p {
    line-height: 1.5em;
    padding: 0px 30px 30px 30px;
  }
  h3 {
    padding: 0px 20px 10px 20px;
  }
}

.about_profile {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 50%;
}

.description_wrapper {

}

.about_description {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
