.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  // border: 5px $highlights solid;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
  a:hover + .stats {
    visibility: visible;
  }
  .stats {
    color: $shadows;
    visibility: hidden;
    position: absolute;
    // height: 100%
    left: 0;
    right: 0;
    p {
      cursor: default;
    }
  }
}
