.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  // border: 5px $highlights solid;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   -moz-transform: rotate(0);
  img {
    box-shadow: 5px 5px 5px grey;
  }
  img:hover {
    opacity: 0.60;
    transition: 0.3s;
    box-shadow: 0;
  }
  a:hover + .stats {
    display: block;
  }
  .stats {
    pointer-events:none;
    color: $darkest;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    p {
      cursor: pointer;
    }
  }
}
