.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;
}
.card {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  img {
    height: 60vh;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: none;
  }
  img:hover {
    background-color: $darkest;
    transform: translate(0px, -8px);
    box-shadow: 5px 5px 5px $dark;
    transform: translate(-5px, -5px);
    -webkit-filter: brightness(70%);
  }
  a:hover + .stats {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: scale(1.1)
  }
  .stats {
    color: white;
    position: absolute;
    pointer-events:none;
    transition: 0.5s;
    opacity: 0;
    p {
      font-size: $font1;
      cursor: pointer;
    }
  }
}
