.title {
  color: $darkest;
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
}

.header-links {
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    color: $dark;
  }
  a {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  a, li {
    font-size: 1.2em;
  }
}

// this fixes title and lets it be overlapped
.header-container {
  position: fixed;
  width: 100%;
  top: 0px;
}

.header {
  margin: 0 auto;
}

// title font changes
@media only screen and (min-width: $medium) {
  .title {
    font-size: 8em;
  }
  .header-links {
    a, li {
      font-size: 1.5em;
    }
  }
}
