.title {
  color: white;
  text-align: center;
  font-size: $font5;
  margin: 0 auto;
}

.description {
  text-align: center;
  margin: 0 auto;
  padding: 50px 20%;
  p {
    font-size: $font3;
    color: white;
    font-style: italic;
  }
  h3 {
    font-style: normal;
    font-weight: normal;
  }
}

.site-header {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-header {
  font-family: 'Oswald', sans-serif;
  hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-links {
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    color: $dark;
  }
  a {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  a, li {
    font-size:$font2;
  }
}

.header-container {
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/headers/andrenne_akanke.jpg);
  top: 0px;

// parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



// title font changes
@media only screen and (min-width: $medium) {
  .title {
    font-size: $font6;
  }
  .header-links {
    a, li {
      font-size: $font1;
    }
  }
}
