.site-header {
  .shadow-profile {
    height: 100vh;
    object-fit: cover;
  }
  .header-text {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .title, .sub-title {
    text-align: center;
    text-shadow: 1.5px 1.5px 5px $darkest;
    -webkit-text-shadow: 1.5px 1.5px 5px $darkest;
    color: white;
  }
  .title {
    font-size: $font5;
    margin-bottom: 0;
    margin-top: 0;
  }
  .sub-title {
    font-family: 'IBM Plex Serif', serif;
    font-size: $font2;
    font-style: italic;
  }
  .header-line-break {
    width: 37.5%;
    box-shadow: 1.5px 1.5px 5px $darkest;
  }
}

@media only screen and (min-width: $large) {

  .site-header {
    .title {
      font-size: $font6;
    }
    .sub-title {
      font-size: $font2;
    }
    .header-line-break {
      margin-bottom: 44px;
    }
  }

}
