html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: $basecolor;
}

.wrapper {
  width: 95%;
  margin: 3em auto;
}

img {
  width: 100%;
}

.description {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  p {
    font-size: 2.0em;
    color: $darkest;
    font-style: italic;
  }
}
