html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto Slab', serif;
  // font-family: 'Rubik', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  // font-family: 'Crimson Text', serif;
}

body {
  background-color: $basecolor;
}

// wrapper is essentially body, on top of header fo cool scrolling action

img {
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: $dark;
}

a:hover {
  color: $highlights;
}

// actually the main
.description-container {
  text-align: center;
  margin: 0 auto;
  padding: 65px 15% 65px 15%;
  .description {
    font-style: normal;
    font-weight: normal;
    color: $darker;
    padding: 50px 0px;
  }
  .description-line-break {
    width: 37.5%;
    align: center;
  }
}

// margin change to accomadate font size change
@media only screen and (min-width: $medium) {
  html, body {
    font-size: 18px;
  }
  .main-container {
    width: 88%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: $large) {
  html, body {
    font-size: 21px;
  }
}
