html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  // dont remember what this overflox-x hidden was even for
  // overflow-x: hidden;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: $basecolor;
}

.changeColor {
  background-color: black;
}

// wrapper is essentially body, on top of header fo cool scrolling action
.wrapper {
  width: 90%;
  margin: 3em auto;
  background-color: $basecolor;
  // margin-top: 230px;
  // padding-top: 10px;
  z-index: 9999;
  position: relative;
}

img {
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: $dark;
}

a:hover {
  color: $highlights;
}

.description {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 25px;
  p {
    font-size: 2.0em;
    color: $darkest;
    font-style: italic;
  }
  h3 {
    color: $darkest;
  }
}

// margin change to accomadate font size change
@media only screen and (min-width: $medium) {
  .wrapper {
    width: 85%;
    // margin-top: 325px;
      // padding-top: 25px;
  }
}
