.profile-header-container {
  width: 100%;
  height: $fifth3;
  background-color: white;
  border-bottom: 1px solid $dark;

  -moz-box-shadow:    0px 1px 3px $dark;
  -webkit-box-shadow: 0px 1px 3px $dark;
  box-shadow:         0px 1px 3px $dark;

  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.profile-header {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  h1, h2 {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .profile-header-title {
    font-size: $font2;
    // padding: 2px $fifth1;
    color: $darkest;
  }
  .profile-header-name {
    font-size: $font1;
    color: $darker;
    border-left: 1px solid $darker;
    padding-left: $fifth1;
  }
}

@media only screen and (min-width: $medium) {

  .profile-header-container {
    height: $fifth5;
  }

  .profile-header {
    .profile-header-title {
      font-size: $font3;
      padding: 1.5px $fifth1;
    }
    .profile-header-name {
      font-size: $font2;
      margin: 7.5px 0;
    }
  }

}


@media only screen and (min-width: $large) {

  .profile-header-container {
    height: $fifth6;
  }

  .profile-header {
    .profile-header-title {
      padding: 2.5px $fifth1;
    }
  }


}
