.profile-wrapper {
  width: 95%;
  margin: 0px auto;
  margin-top: 100px;
  .intro-word {
    color: $darkest;
    text-align: left;
  }
  p {
    line-height: 1.6em;
    padding-top: 12.5px;
  }
  .question {
    color: $darkest;
    font-weight: bold;
    font-size: $font2;
  }
}

.profile-title {
  padding-top: 10%;
  text-align: center;
  .profile-pic {
    img {
      max-height: 80vh;
      object-fit: contain;
    }
  }
  .profile-name {
    font-family: 'Fjalla One', sans-serif;
    color: $darkest;
    font-size: $font3;
  }
  .profile-occupation {
    color: $darker;
    font-style: italic;
    font-size: $font1;
  }
  .profile-break-line {
    width: 37.5%;
    margin: 62.5px auto;
  }
}

.quote {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  h2 {
    border-left: 3px solid $highlights;
    color: $dark;
    font-size: $font3;
  }
}

.playlists {
  text-align: center;
}

// profile image & quote containers -------

.profile_extra1 {
  img {
    max-height: 85vh;
    object-fit: contain;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.profile-double-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // overflow: hidden;
  // height: 80vh;
  img {
    padding: 1%;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 48%;
  }
}

.next {
  float: right;
}

.disclaimer {
  padding-top: 37.5px;
  text-align: center;
}


@media only screen and (min-width: $large) {


}
