.profile-wrapper {
  width: 95%;
  margin: 0px auto;
  margin-top: 100px;
  p {
    line-height: 1.65em;
    padding-bottom: $fifth2;
  }
  .intro-word {
    padding-left: 3%;
    padding-right: 3%;
  }
  .question, p {
    padding-left: 2%;
    padding-right: 2%;
  }
  .question {
    color: $darkest;
    font-weight: bold;
    font-size: $font2;
    padding-top: $fifth2;
    padding-bottom: $fifth1;
  }
}

.intro-word {
  color: $darker;
  font-size: $font2;
}

.profile-title {
  // padding-top: 10%;
  text-align: center;
  .profile-name {
    font-family: 'Oswald', sans-serif;
    color: $darkest;
    font-size: $font4;
  }
  .profile-occupation {
    color: $dark;
    font-style: italic;
    font-size: $font2;
  }
  .profile-line-break {
    width: 37.5%;
    margin: 62.5px auto;
  }
}

.quote {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    transition: 2s;
    // border-left: 3px solid $highlights;
    font-weight: lighter;
    color: $dark;
    font-size: $font3;
  }
  hr {

    width: 25%;
    margin-top: $fifth6;
    margin-bottom: $fifth6;
  }
}

.playlists {
  text-align: center;
}

// profile image & quote containers -------


.profile_imgs {
  text-align: center;
  a {
    display: inline-block;
  }
  img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:85vh;
  }
}

.profile-double-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .profile_imgs {
    padding: $fifth1;
  }
}

.prev_next {
  font-size: $font1;
  font-style: italic;
  .next {
    float: right;
  }
}
.disclaimer {
  padding-top: $fifth4;
  text-align: center;
}


@media only screen and (min-width: $medium) {

  .profile-wrapper {
    .intro-word {
      padding-left: 16%;
      padding-right: 16%;
    }
    .question, p {
      padding-left: 17%;
      padding-right: 17%;
    }
    .question {
      font-size: $font2;
    }
  }

  .quote {
    padding: 100px 5%;
  }


}

@media only screen and (min-width: $large) {

  .profile-wrapper {
    .intro-word {
      padding-left: 23%;
      padding-right: 23%;
    }
    .question, p {
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  .profile-title {
    .profile-line-break {
      width: 25%;
    }
  }

  .profile-double-container {
    width: 73%;
    margin: 0 auto;
  }

  .quote {
    padding: 100px 10%;
    hr {
      width: 12.5%;
    }
  }

}
