---
layout: default
---

<div class="profile_wrapper to-fade-up">
  <div class="profile_header">
    <h1>{{ page.firstName }} {{ page.lastName }}</h1>
    <h2>{{ page.occupation }}</h2>
  </div>
  <div class="head_profile">
    <img src={{ page.profileImage }} alt="">
  </div>
  <div class="playlists">
    <h4> Tracks curated by {{ page.firstName }}:
    <a href={{ page.playlistLink }} target="_blank">Youtube Playlist</a></h4>
  </div>
  {{ content }}
  <div class="disclaimer">
    <p><i>This interview was edited for clarity, names of individuals have been changed to respect their privacy</i><p>
  </div>

  {% include prevnext.html %}

  <div class="prev_next">
    <div >
      {% if prevPost.url %}
      <a class="prev" href="{{prevPost.url}}">
          <span>&lt; prev</span>
      </a>
      {% endif %}
      {% if nextPost.url %}
      <a class="next" href="{{nextPost.url}}">
          <span>next &gt;</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
