---
layout: default_p
---

<div class="profile-wrapper to-fade-up">
  <div class="profile-pic">
    <img src={{ page.headImage }} alt="">
  </div>
  <div class="profile-title">
    <h1 class="profile-name">{{ page.firstName }} {{ page.lastName }}</h1>
    <h2 class="profile-occupation">{{ page.occupation }}</h2>
    <hr class="profile-line-break">
  </div>
  {{ content }}
  <div class="disclaimer">
    <p><i>This interview was edited for clarity, names of individuals have been changed to respect their privacy</i><p>
  </div>

  {% include prevnext.html %}

  <div class="prev_next">
    <div >
      {% if prevPost.url %}
      <a class="prev" href="{{prevPost.url}}">
          <span>&lt; prev</span>
      </a>
      {% endif %}
      {% if nextPost.url %}
      <a class="next" href="{{nextPost.url}}">
          <span>next &gt;</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>


<!-- <div class="playlists">
  <h4> <a href={{ page.playlistLink }} target="_blank">Tracks</a>
    curated by {{ page.firstName }}</h4>
</div> -->
